
.header-container{
    width: 100vw;
    height: 10vh;
    font-size: x-large;
    font-weight: bold;
    color: whitesmoke;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    z-index: 200;
}
